<div class="modify-password-component">
    <mat-card class="mat-card">
        <mat-toolbar class="toolbar" color="primary">
            <mat-toolbar-row>
                <span class="span">Modifier le mot de passe</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form class="modify-password-form" [formGroup]="modifyPasswordGroup" (ngSubmit)="modifyPassword()">
            <mat-error *ngIf="codesDontMatchLabel && codesDontMatchLabel.length >0">{{codesDontMatchLabel}}</mat-error>
            <div class="form-input">
                <mat-form-field>
                    <input matInput placeholder="Mot de passe" [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="modifyPasswordGroup.get('password')!.hasError('required')">
                        Le mot de passe est obligatoire!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirmer le mot de passe" [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" required>
                    <mat-error *ngIf="modifyPasswordGroup.get('confirmPassword')!.hasError('required')">
                        Le mot de passe est obligatoire!
                    </mat-error>
                    <mat-error *ngIf="modifyPasswordGroup.get('confirmPassword')!.hasError('matching')">
                        Les mots de passe ne correspondent pas!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Code" formControlName="code" required>
                    <mat-error *ngIf="modifyPasswordGroup.get('code')!.hasError('required')">
                        Le code est obligatoire!
                    </mat-error>
                    <mat-error *ngIf="modifyPasswordGroup.get('code')!.hasError('pattern')">
                        Le code ne contient que des chiffres!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="button" class="cancelButton" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">CANCEL</button>
                <button mat-raised-button type="submit" class="mt-5" color="primary">Modifier le mot de passe</button>
            </div>
        </form>
    </mat-card>
</div>