<div class="retrieve-password-component">
    <mat-card class="mat-card">
        <mat-toolbar class="toolbar" color="primary">
            <mat-toolbar-row>
                <span class="span">Réinitialiser le mot de passe</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <form class="login-form" [formGroup]="mailGroup" (ngSubmit)="retrievePassword()">
            <div class="form-input">
                <mat-form-field>
                    <input matInput placeholder="Mail" formControlName="email" required>
                    <mat-error *ngIf="mailGroup.get('email')!.hasError('required')">
                        L'email est obligatoire!
                    </mat-error>
                    <mat-error *ngIf="mailGroup.get('email')!.hasError('email')">
                        L'email n'est pas valide!
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="noUserFound && noUserFound.length >0">{{noUserFound}}</mat-error>
            <div>
                <button mat-raised-button type="button" class="cancelButton" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">CANCEL</button>
                <button mat-raised-button type="submit" class="mt-5" color="primary">Envoyer le code</button>
            </div>
        </form>
    </mat-card>
</div>