img {
    width:60px;
    height:60px;
    margin-top: 5px;
}

.quantity{
    text-align: center;
}

.remove {
    text-align: right;
}

.add {
    text-align: left;
}

.product-card{
    width:100%
}

.buttons {
    text-align: right;
}

.footerTable {
    border-top: 1px solid grey;
    font-weight: bold;
}

.quantityFooter {
    text-align: center;
    font-weight: bold;
    border-top: 1px solid grey;
}